
@{
    Layout = null;
}

<h1>Admin Paneli</h1>
<h1><center>@ViewBag.v</center></h1>

<h2><italic><bold><center><a href="Default/AnaSayfa/">Ana Sayfa - </a><a href="/Default/Urunler/">Ürünler - </a><a href="/Default/Musteriler/">Müşteriler - </a></center></bold></italic></h2>